# -*- coding: utf-8 -*-

DEBUG = False

LOG_FILE_PATH='/var/log/nipap-wizard'

SECRET_KEY = '<enter your secret here>'

SQLALCHEMY_DATABASE_URI = '<SQL_ALCHEMY_DATABASE>'

MAIL_FROM = 'no-reply@ip.berlin.freifunk.net'

API_USER = 'NIPAP_USERNAME'
API_PASS = 'NIPAP_PASSWORT'
API_HOST = 'NIPAP_XML_RPC_URI'
API_POOL_MESH = 'NAME_OF_MESH_POOL'
API_POOL_HNA = 'NAME_OF_HNA_POOL'
API_POOL_HNA = 'NAME_OF_LEGACY_POOL'
API_POOL_IPV6 = ['POOL_1', 'POOL_2']
