Flask==2.3.3
Flask-Mail==0.9.1
Flask-Migrate==2.7.0
Flask-SQLAlchemy==2.5.1
Flask-Script==2.0.6
Flask-WTF==1.0.1
Jinja2==3.1.2
Mako==1.2.4
SQLAlchemy==1.4.50
psycopg2-binary==2.9.9
WTForms==3.0.1
email-validator==1.2.1
ipaddress==1.0.23
prettytable==3.3.0
pynipap==0.29.5
markupsafe==2.1.3
