{% from '_utils.html' import render_bootstrap_field %}
{% extends "layout.html" %}
{% block body %}
      <div class="row">
        <h2 class="col-md-12">Du hälst du dich wohl für einen Experte?</h2>
      </div>

          {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="row">
              <div class="col-md-offset-3 col-md-6 text-center">
                {% for message in messages %}
                <div class="alert alert-info alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                  </button>
                  {{ message }}
                </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}
          {% endwith %}


      <div class="row">
          <form class="form-horizontal col-md-12" role="form" action="" method="post">

            {{ form.csrf_token }}
            {{ render_bootstrap_field(form.name, "ID", "Eindeutige ID für deine Anfrage zum Beispiel Standortname") }}
            {{ render_bootstrap_field(form.email, "Kontaktadresse", "Notwendig, damit wir dir eine Aktivierungsmail schicken können.")}}
            {{ render_bootstrap_field(form.prefix, help="Netzwerkpräfix den du anfordern willst!") }}
            {{ render_bootstrap_field(form.captcha, "Hauptstadt Deutschlands?", "Wird benötigt um Spam-Bots auszuschließen.") }}

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Anfordern</button>
              </div>
            </div>
          </form>
        </div>
      </div>
{% endblock %}
