{% extends "_layout.html" %}

{% block title %}
IP-Vergabe
{% endblock %}

{% block body %}
      <div class="row">
        <div class="col-md-12">
          <p>
          Du bekommst hier eine IP-Adresse für den Router, den du dir
          aus der Tabelle im Wiki-Artikel
          <a href="https://wiki.freifunk.net/Berlin:Firmware">Berlin:Firmware</a>
          ausgesucht hast.
          </p>
          <p>
          <b><a href="/wizard/routers/ar71xx/generic/defaultRouter/v1">weiter =&gt;</a></b>
          </p>
        </div>
      </div>
{% endblock %}
