{% macro render_bootstrap_field(field, placeholder) %}

<div class="form-group {% if field.errors %} error {% endif %}">
    <label class="col-md-2 control-label">{{ field.label }}</label>
    <div class="col-md-10">
        {{ field(class='form-control', placeholder=placeholder)|safe }}
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="errors">{{ error }}</span><br>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endmacro %}

{% extends "layout.html" %}
{% block body %}
      <div class="row">
        <h2 class="col-md-12">Kontakt</h2>

        <div class="col-md-12">
          <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>

        <div class="col-md-12">
          <p class="col-md-4 form-router text-center">
            <img src="{{url_for('static', filename=router.img)}}" alt="{{router.name}}" />
            {{router.name}}
          </p>
          <form class="form-horizontal col-md-8" role="form" action="{{url_for('wizard_get_email')}}" method="post">

            {{ form.csrf_token }}
            {{ render_bootstrap_field(form.email, "Email") }}
            {{ render_bootstrap_field(form.captcha, "Hauptstadt Deutschlands?") }}

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <a href="{{url_for('wizard_select_router')}}" class="btn
                  btn-default">zurück</a>
                <button type="submit" class="btn btn-default">Anfordern</button>
              </div>
            </div>
          </form>
        </div>
      </div>
{% endblock %}
