{% from '_utils.html' import render_bootstrap_field, render_bootstrap_text %}

{% extends "_layout.html" %}

{% block title %}
Auflistung deiner IPs beantragen
{% endblock %}

{% block body %}
      <div class="row">
        <div class="col-md-12">
          <form class="form-horizontal" role="form" action="{{url}}" method="post">

            {{ form.csrf_token }}
            {{ render_bootstrap_field(form.email, "Email", "Email auf die jene Anträge registriert sind. Eine Auflistung wird dir dann per Email zu gesendet.")}}

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Anfordern</button>
              </div>
            </div>
          </form>

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="text-center">
            <a href="{{url_for('wizard.wizard_select_router')}}">zurück zur Startseite</a>
          </p>
        </div>
      </div>

{% endblock %}
