{% extends "_layout.html" %}
{% block body %}
      <div class="row">
        <h2 class="col-md-12">Konfiguration</h2>
        <div class="col-md-12">
          <p>
            Im Folgenden findest du eine Auflistung der Konfigurationsparameter
          </p>
        </div>

        <div class="col-md-12">
          <dl class="dl-horizontal col-md-8">
            <dt>Hostname</dt>
            <dd>{{name}}</dd>

            {% if router %}
              <dt>Router</dt>
              <dd>{{router.name}}</dd>

              <dt>Firmware</dt>
              <dd>
              {% for name,url in router.firmwares.items() %}
              <a href="{{url}}">{{name}}.bin</a>
              {% endfor %}
              </dd>
            {% endif %}

            {% if ips['mesh'] %}
              <dt>Mesh-IPs</dt>
              <dd>
              {% for ip in ips['mesh'] %}
                {% if not loop.last %}
                  <code>{{ip}}</code>
                {% else %}
                  <br /><code>{{ip}}</code>
                  (optional - für LAN Meshing)
                {% endif %}
              {% endfor %}
              </dd>
            {% endif %}

            {% if ips['hna'] %}
              <dt>Addressraum</dt>
              <dd>
              {% for ip in ips['hna'] %}
              <code>{{ip}}</code>
              {% endfor %}
              </dd>
            {% endif %}
          </dl>

          {% if router %}
          <p class="col-md-4 form-router text-center">
            <img src="{{url_for('static', filename=router.img)}}" alt="{{router.name}}" />
            {{router.name}}
          </p>
          {% endif %}
        </div>
      </div>

      {% if router %}
      <div class="row">
        <h2 class="col-md-12">nächsten Schritte</h2>
      </div>

      <div class="row">
        <p class="col-md-12">
          Mit Hilfe der Konfigurationsparameter kannst du nun deinen Router
          <i>flashen</i>. Das heißt das Freifunk-Betriebssystem installieren
          und konfigurieren. Hierzu folgst du am besten den Anleitungen:
        </p>
        <ul class="col-md-l col-md-offset-1">
          <li><a href="http://berlin.freifunk.net/participate/howto/flash">Router flashen</a></li>
          <li><a href="http://berlin.freifunk.net/participate/howto/config">Router konfigurieren</a></li>
        </ul>
      </div>
    </div>
    {% endif %}
{% endblock %}
