{% extends "_layout.html" %}

{% block title %}
Konfiguration
{% endblock %}

{% block body %}
      <div class="row">
        <div class="col-md-12">
          <p>
            Im Folgenden findest du eine Auflistung der Konfigurationsparameter.
          </p>
        </div>

        <div class="col-md-12">
          <dl class="dl-horizontal col-md-8">
            <dt>Hostname</dt>
            <dd>{{name}}</dd>
            {% if ips['mesh'] %}
              <dt>Mesh-IPs</dt>
              <dd>
              {% for ip in ips['mesh'] %}
                <code>{{ip}}</code>
              {% endfor %}
              </dd>
            {% endif %}

            {% if ips['hna'] %}
              <dt>DHCP-Network</dt>
              <dd>
              {% for ip in ips['hna'] %}
              <code>{{ip}}</code>
              {% endfor %}
              </dd>
            {% endif %}
          </dl>
        </div>
      </div>
{% endblock %}
