{% macro render_bootstrap_field(field, placeholder, help) %}

<div class="form-group {% if field.errors %} error {% endif %}">
    <label class="col-md-2 control-label">{{ field.label }}</label>
    <div class="col-md-10">
        {{ field(class='form-control', placeholder=placeholder)|safe }}
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="errors">{{ error }}</span><br>
            {% endfor %}
        {% endif %}
        <span class="help-block italic">{{ help|safe }}</span>
    </div>
</div>
{% endmacro %}

{% extends "layout.html" %}
{% block body %}
      <div class="row">
        <h2 class="col-md-12">Standortdaten</h2>

        <div class="row flexible">
          <p class="col-md-4 form-router text-center">
            <img src="{{url_for('static', filename=router.img)}}" alt="{{router.name}}" />
            {{router.name}}
          </p>
          <form class="form-horizontal col-md-8" role="form" action="{{url_for('.wizard_form')}}" method="post">

            {{ form.csrf_token }}
            {{ render_bootstrap_field(form.hostname, "Spitzname des Routers", "Ein kurzer und eindeutiger Name für deinen Router (z.B. <i>funkenpumpe</i> oder <i>HermannStr42_VH</i>).") }}
            {{ render_bootstrap_field(form.email, "Kontaktadresse", "Notwendig damit dir Router-Konfiguration und Firmware per Email zu geschickt werden können.") }}
            {{ render_bootstrap_field(form.location_type, help="Je nach Standort benutzen mehr oder weniger Menschen gleichzeitig den Freifunkrouter. Cafés und Kneipen haben mehr gleichzeitige Benutzer_innen und brauchen so mehr Adressen als dein Freifunkrouter zu Hause.") }}
            {{ render_bootstrap_field(form.captcha, "Hauptstadt Deutschlands?") }}

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <a href="{{url_for('.wizard_select_router')}}" class="btn
                  btn-default">zurück</a>
                <button type="submit" class="btn btn-default">Anfordern</button>
              </div>
            </div>
          </form>
        </div>
      </div>
{% endblock %}
