{% extends "_layout.html" %}
{% block body %}
      <div class="row">
        <p class="col-md-12 text-center">
          Du bist hier durch Zufall oder mit Absicht auf der IP-Adressenvergabe
          von den berliner Freifunker_innen gekommen.
        </p>

        <p class="col-md-12 text-center">
          <a class="button" href="{{url_for('summary.summary_index')}}">
            IP-Auflistung
          </a>

          <a class="button" href="{{url_for('wizard.wizard_select_router')}}">
            Wizard
          </a>

          <a class="button" href="{{url_for('expert.expert_form')}}">
            Backbone
          </a>
        </p>

        <div class="col-md-12 text-center">
          <iframe src="//player.vimeo.com/video/64814620?portrait=0&title=0&byline=0"
                  width="500" height="281" frameborder="0"
                  webkitallowfullscreen mozallowfullscreen allowfullscreen>
          </iframe>
        </div>

        <p class="col-md-12 text-center">
          Bei Bugs oder Anregungen erstelle bitte ein Issue auf
          <a href="https://github.com/freifunk-berlin/nipap-wizard/issues">
            github
          </a> oder schreib eine
          <a href="mailto:berlin@berlin.freifunk.net">Mail</a>.
          Für Infos bezüglich dem Setup siehe
          <a href="https://github.com/freifunk-berlin/nipap-wizard/blob/master/README.md">
            README
          </a> oder durchstöbere
          <a href="https://wiki.freifunk.net/Berlin:Servers">
            wiki.freifunk.net/Berlin:Servers
          </a>.
        </p>
      </div>
{% endblock %}
