{% extends "_layout.html" %}

{% block title %}
<a href="{{url_for('main.index')}}">IP-Adressenvergabe</a>
{% endblock %}

{% block body %}
      <div class="row">
        <p class="col-md-12 text-center">
          Du bist hier durch Zufall oder mit Absicht auf der Adressenvergabe
          der <em><a href="https://berlin.freifunk.net/">Berliner
              Freifunker_innen</a></em>
          gelandet. Falls du Hilfe brauchst bei der Einrichtung deines Freifunk-
          Routers folge am besten der
          <em><a href="https://wiki.freifunk.net/Berlin:Firmware:Howto">Anleitung</a></em>
          .
        </p>

        <p class="col-md-12 text-center">
          <a class="button" href="{{url_for('wizard.wizard_select_router')}}">
            IP-Vergabe (Standard/Wizard)
          </a>

          <a class="button" href="{{url_for('expert.expert_form')}}">
            IP-Vergabe (f&uuml;r Experten_innen)
          </a>

          <br/>

          <a class="button" href="{{url_for('summary.summary_index')}}">
            Deine Freifunk-IP-Adressen
          </a>
        </p>

        <p class="col-md-12 text-center">
          .
        </p>

        <div class="col-md-12 text-center">
          <iframe src="//player.vimeo.com/video/64814620?portrait=0&title=0&byline=0"
                  width="500" height="281" frameborder="0"
                  webkitallowfullscreen mozallowfullscreen allowfullscreen>
          </iframe>
        </div>

        <p class="col-md-12 text-center">
          Bei Bugs oder Anregungen erstelle bitte ein Issue auf
          <a href="https://github.com/freifunk-berlin/nipap-wizard/issues">Github</a>
          oder schreib eine
          <a href="mailto:berlin@berlin.freifunk.net">Mail</a>
          an unsere Mailingliste.
          Für Infos bezüglich dieses Dienstes, siehe die
          <a href="https://github.com/freifunk-berlin/nipap-wizard/blob/master/README.md">README</a>
          oder durchstöbere unsere
          <a href="https://wiki.freifunk.net/Berlin:Servers">Wiki</a></i>.
        </p>
      </div>
{% endblock %}
