{% extends "_layout.html" %}
{% block body %}
      <div class="row">
        <p class="col-md-12 text-center">
          Du bist hier durch Zufall oder mit Absicht auf der IP-Adressenvergabe
          von den berliner Freifunker_innen gekommen.
        </p>

        <p class="col-md-12 text-center">
          <a class="button" href="{{url_for('wizard.wizard_select_router')}}">
            Wizard
          </a>

          <a class="button" href="{{url_for('summary.summary_index')}}">
            IP-Auflistung
          </a>

          <a class="button" href="{{url_for('expert.expert_form')}}">
            Backbone-IP-Vergabe
          </a>
        </p>

        <div class="col-md-12 text-center">
          <iframe src="//player.vimeo.com/video/64814620?portrait=0&title=0&byline=0"
                  width="500" height="281" frameborder="0"
                  webkitallowfullscreen mozallowfullscreen allowfullscreen>
          </iframe>
        </div>
      </div>
{% endblock %}
